@font-face {
    font-family: "Roboto Condensed";
    src: url('https://fonts.googleapis.com/css?family=Roboto Condensed');
}

body,
h1,
h3 {
    font-family: "Roboto Condensed" , Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-size: 12pt;
    font-weight: 300;
    color: #222222;
}

h1 {
    font-size: 32pt;
    font-weight: 500;
    color: #ffffff;
}

h3 {
    font-size: 24;
    font-weight: 500;
    color: #222222;
}

/* header */
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 8px 16px 8px;
}

header {
    background-color: #ffffff;
    position: sticky; top: 0;
    z-index: 1000;
}

.logo {
    width: auto;
    height: 60px;
}

.material-icons-outlined {
    font-size: 26px;
    color: #0a3641;
    padding-left: 8px;
}

.screenreader-text {
    position: absolute;
    left: -10000px;
}

/*main*/
.promo-image {
    width: 100%;
    max-height: auto;
}

.inspiration {
    text-align: center;
    background-color: #6ca9b330;
    padding: 8px 0px 8px 0px;
    margin: 32px 0px 32px 0px;
}

.highlighted {
    font-size: 14pt;
    font-weight: 400;
    text-transform: uppercase;
    color: #0a3641;
}

/* gender categories */
.category-container {
    float: left;
    width: 48%;
    position: relative;
    text-align: center;
    z-index: 950;
}

.category-container img {
    width: 100%;
    max-width: auto;
}

.women-container {
    margin: 0 4% 0 0;
}

.category {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category-container::after {
    content: "";
    clear: both;
    display: table;
}

/*new in*/
.news {
    text-align: center;
}

.news-heading {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: #222222;
    margin-top: 40px;
    margin-bottom: 16px;
}

.news-products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    text-align: left;
}

.news-container img {
    width: 95%;
    max-height: auto;
    object-fit: fill;
}

.news-products .product-name {
    margin-bottom: 0;
}

.upper {
    text-transform: uppercase;
}

.description {
    font-size: 10pt;
    height: 2rem;
    margin-top: 0.2rem;
}

.news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    width: auto;
}
