@font-face {
    font-family: "Roboto Condensed";
    src: url(https://fonts.googleapis.com/css?family=Roboto Condensed);
}

/* header */
.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}

.material-icons-outlined {
    font-size: 20px;
    color: #0a3641;
}

.screenreader-text {
    position: absolute;
    left: -10000px;
}

/*body*/
body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 12pt;
    font-weight: 300;
    color: #222222;
}

.inspiration {
    text-align: center;
}

.highlighted {
    font-size: 14pt;
    font-weight: 400;
    text-transform: uppercase;
    color: #0a3641;
}

/* gender categories */
.container {
    float: left;
    width: 45%;
    position: relative;
    text-align: center;
}

.container_women {
    padding-right: 16px;
}

.container img {
    width: 100%;
    max-width: 232px;
    min-width: none;
}

.category {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}