/* header */

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    border-top-style: solid;
    border-top-width: 13px;
    border-top-color: #0a3641;
}

.logo {
    width: 100px;
}

.material-icons-outlined {
    font-size: 20px;
    color: #0a3641;
}

/*body*/



.inspiration {
    text-align: center;
}

.highlighted {
    text-transform: uppercase;
    color: #0a3641;
}

/* gender categories */

.container {
    float: left;
    width: 45%;
    position: relative;
    text-align: center;
}

.container_women {
    padding-right: 16px;
}

.container img {
    width: 100%;
    max-width: 232px;
    min-width: none;
}

.category {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}