main {padding: 0 16px;}

p {
    max-width: 100%;
    line-height: 1.8;
}

main img {
    width: 100%;
    filter: brightness(90%);
    margin: 8px 0;
}

.motivation-container {
    text-align: center;
    background: #6ca9b340;
    padding: 8px 0;
    margin: 24px 0;
}

.highlighted {
    font-size: 13pt;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--rainydays-blue);
}