.category-header-container {
    position: relative;
    margin-bottom: 24px;
}

.category-image {
    width: 100%;
    filter: brightness(90%);
}

.category-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: var(--white);
    font-size: 28pt;
}

.alpha-heading {
    font-size: 24pt;
    width: 100%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.the {
    font-size: 14pt;
    font-weight: 400;
}

.upper {text-transform: uppercase;}

.product-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 16px;
    padding: 0 16px;
}

.product-list-container a {
    outline: none;
    text-decoration: none;
}

.product-card {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 1fr 100px;
    border-radius: 8px;
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image-container img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    background: var(--background-grey);
    padding: 16px;
    border-radius: 8px;
}

.product-details p {line-height: 0.8;}

.upper {
    text-transform: uppercase;
    font-weight: 500;
}

.description,
.color {
    font-size: 10pt;
}

.price {font-weight: 400;}

.cta {margin: 0;}