main {margin: 0 24px;}

.cart-total {
    width: 100%;
    margin: 32px auto;
    border-top: solid 1px var(--rainydays-blue);
    border-bottom: solid 1px var(--rainydays-blue);
    padding: 4px 0;
}

.cart-total p {
    display: flex;
	justify-content: space-between;
}

.total {font-weight: 400;}

.shipping {font-size: 11pt;}

.full-name,
.postal-info {
    display: flex;
    gap: 16px;
    width: 100%;
    max-width: 501px;
}

.message {margin-bottom: 48px;}

.payment-container h2 {text-align: center;}

.payment-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-bottom: 48px;
}

.payment-options img {
    width: 80px;
    border-radius: 8px;
    transition: all 0.6s ease
}

input[type=checkbox] {display: none;}

label[class=payment]:hover,
input[name=visa]:checked ~ label[for=visa],
input[name=mastercard]:checked ~ label[for=mastercard],
input[name=klarna]:checked ~ label[for=klarna] {
    border: solid 2px var(--raisin-black);
    border-radius: 8px;
    transform: scale(1.2);
}

.btn-index {border: none;}