main {margin: 0 24px;}

.cart-total {
    width: 100%;
    margin: 32px auto;
    border-top: solid 1px var(--rainydays-blue);
    border-bottom: solid 1px var(--rainydays-blue);
    padding: 4px 0;
}

.cart-total p {
    display: flex;
	justify-content: space-between;
}

.total {font-weight: 400;}

.shipping {font-size: 11pt;}

.full-name,
.postal-info {
    display: flex;
    gap: 16px;
}

.message {margin: 0;}

.payment-method {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 36px 0;
}

.payment-method img {
    width: 90px;
    border: solid 1px var(--raisin-black);
    border-radius: 8px;
}

.payment-method button {
    text-decoration: none;
    outline: none;
    border: none;
    padding: none;
    width: 100px;
    height: 70px;
}

.btn-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.btn-confirm {
    border-radius: 8px;
    padding: 8px 24px;
    border: solid 1px var(--burnt-orange);
    background: var(--burnt-orange);
}

.btn-index {
    border: none;
    background: var(--white);
}

.btn-confirm a,
.btn-index a {
    text-decoration: none;
    outline: none;
    font-size: 12pt;
    font-weight: 400;
}

.btn-confirm a {
    color: var(--white);
}

.btn-index a {
    color: var(--burnt-orange);
}