main {text-align: center;}

.material-icons-outlined-check {
    font-size: 50px;
    color: var(--crystal-blue);
    margin-top: 32px;
}

.material-icons-outlined-check:hover {text-decoration: none;}

h1 {
    margin-top: 32px;
    margin-bottom: 8px;
}

.confirmation-text {
    max-width: 380px;
    margin: 0 auto;
}

.short-text {display: none;}

.order-heading {grid-area: order-heading;}
.info-total {grid-area: info-total;}
.info-date {grid-area: info-date;}
.info-payment {grid-area: info-payment;}
.info-email {grid-area: info-email;}
.info-d-date {grid-area: info-d-date;}
.info-d-options {grid-area: info-d-options;}

.order-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-areas:
        "order-heading order-heading"
        "info-total info-date"
        "info-payment info-email"
        "info-d-date info-d-options";
    border-radius: 8px;
    box-shadow: 2px 2px 20px var(--box-shadow);
    font-size: 11pt;
    text-align: left;
    padding: 8px 5%;
    gap: 8px;
    margin: 40px 0;
}

.order-container p {
    line-height: 0.8;
}

.order-heading {
    font-size: 16pt;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.info-heading {
    font-weight: 400;
    color: var(--burnt-orange);
}

section a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 340px) {  
    .full-text {display: none;}

    .short-text {display: grid;}  
}

@media only screen and (min-width: 410px) {
    .order-container {padding: 8px 48px;}
}

@media only screen and (min-width: 550px) {
    .order-container {
        width: 505px;
        padding: 8px 64px;
        margin: 40px auto;
    }
}

@media only screen and (min-width: 760px) {
    .material-icons-outlined-check {
        font-size: 70px;
    }
}

@media only screen and (min-width: 1024px) {
    .confirmation {padding-bottom: 150px;}
}
