main {
    padding: 0 16px;
}

p {
    width: 100%;
}

#name {
    margin-top: 32px;
}

#name,
#email,
#message {
    width: 80%;
    margin-bottom: 16px;
    border: solid 1px var(--onyx);
    border-radius: 8px;
    font-family: 'Roboto' , sans-serif, Verdana, Geneva, Tahoma;
    font-size: 11pt;
    font-weight: 400;
    color: var(--onyx);
    line-height: 2;
    padding-left: 8px;
    outline: none;
}

#name::placeholder,
#email::placeholder,
#message::placeholder {
    font-family: 'Roboto' , sans-serif, Verdana, Geneva, Tahoma;
    font-size: 11pt;
    font-weight: 400;
    color: #cc7e31;
    padding-left: 8px;
}

#message {
    margin-bottom: 32px;
}

input[type="submit"] {
    font-family: 'Roboto' , sans-serif, Verdana, Geneva, Tahoma;
    font-size: 12pt;
    letter-spacing: 1px;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 8px;
    background: #cc7e31;
    padding: 12px 32px;
    -webkit-apperance: none;
    -moz-apparance: none;
    appearance: none;
}