/*PROMO*/

.promo-container {
    position: relative;
}

.promo-container img {
    width: 100%;
}

.promo-text p {
    color: var(--white);
    margin-top: 0;
    margin-bottom: 0;
}

.promo-text {
    position: absolute;
    bottom: 10%;
    width: 250px;
    background: #22222280;
    border-radius: 0 12px 12px 0;
    line-height: 140%;
    padding: 16px;
}

.promo-heading {
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.promo-info {
    padding-bottom: 16px;
}

.promo-text a,
.promo-text a:active {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    border: solid 1px var(--white);
    padding: 8px;
    border-radius: 8px;
}

.promo-text a:hover {
    background: #ffffff70;
}

/*FEATURED*/

.featured-container {
    margin: auto;
    width: 100%;
    background: #6ca9b330;
    padding-top: 16px;
    margin: 32px 0;
}

.featured-heading {
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 16px;
    padding-left: 16px;
}

.featured-slider {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 16px;
    padding-left: 16px;
}

.featured-slider img {
    height: 260px;
    background: white;
    border-radius: 12px;
    padding: 12px;
}

.name {
    text-transform: uppercase;
}

.price {
    font-weight: bold;
}

.featured button {
    font-family: "Roboto Condensed";
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--raisin-black);
    text-align: center;
    text-decoration: none;
    background: var(--white);
    border: solid 1px var(--raisin-black);
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
}

::-webkit-scrollbar {
    height: 5px;
    width: 4px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--rainydays-blue);
    border-radius: 5px;
}

/*CATEGORIES*/

.women-container,
.men-container {
    position: relative;
    text-align: center;
    color: var(--white);
}

.women-text,
.men-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.women-container a,
.men-container a {
    text-decoration: none;
}

.women-image,
.men-image {
    width: 90%;
    border-radius: 12px;
    left: 50%;
}

.women-image {
    margin-bottom: 16px;
}

/*MOTIVATION*/

.motivation-container {
    text-align: center;
    background: #6ca9b330;
    padding: 8px 0;
    margin: 32px 0;
    line-height: 150%;
}

.highlighted {
    font-size: 14pt;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--rainydays-blue);
}