.index-main {padding-bottom: 32px;}

/*PROMO*/

.promo-container {
    position: relative;
    margin-bottom: -4px;
}

.promo-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 30% 0;
    filter: brightness(80%);
}

.promo-text {
    position: absolute;
    top: 10%;
    padding: 16px;
}

.promo-info,
h1 {
    color: var(--white);
    margin: 0;
}

h1 {
    font-size: 20pt;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 8px;
}

.promo-info {
    font-size: 11pt;
    padding-bottom: 22px;
}

.promo-text a {
    text-decoration: none;
    outline: none;
    color: var(--rainydays-blue);
    font-size: 11pt;
    letter-spacing: 1px;
    background: #ffffff90;
    padding: 8px 16px;
    transition-property: color;
    transition: all 0.6s ease;
}

.promo-text a:hover {
    color: var(--white);
    background: #0a364180;
}

/*FEATURED*/

.featured-container {
    width: 100%;
    background: #6ca9b330;
    padding-top: 24px;
    margin-bottom: 32px;
}

.featured-heading {
    text-align: center;
    font-size: 16pt;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 24px;
}

.featured-slider {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 8px;
    padding-left: 16px;
}

.featured-slider img {
    height: 270px;
    background: white;
    border-radius: 12px;
    padding: 8px;
}

.featured a {
    outline: none;
    text-decoration: none;
}

.product-name {
    text-transform: uppercase;
    font-weight: 400;
}

.price {font-weight: 400;}

.cta {margin-bottom: 32px;}

::-webkit-scrollbar {
    height: 4px;
    width: 3px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}

/*CATEGORIES*/

.women-container,
.men-container {
    position: relative;
    text-align: center;
}

.women-text,
.men-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.women-container a,
.men-container a {
    text-decoration: none;
    outline: none;
}

a[href="women.html"] {display: block;}
a[href="men.html"] {display: block;}

.women-image,
.men-image {
    width: 90%;
    border-radius: 12px;
    left: 50%;
    filter: brightness(70%);
}

.women-image {
    margin-bottom: 5%;
}

.category-heading {
    font-size: 40pt;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 2px;
}