/*PROMO*/

.promo-container {
    position: relative;
}

.promo-container img {
    width: 100%;
    filter: brightness(70%);
}

.promo-text {
    position: absolute;
    top: 10%;
    padding: 16px;
}

.promo-text p {
    color: var(--white);
    margin: 0;
}

.promo-heading {
    font-size: 20pt;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 8px;
}

.promo-info {
    font-size: 11pt;
    padding-bottom: 22px;
}

.promo-text a,
.promo-text a:active {
    text-decoration: none;
    outline: none;
    color: var(--rainydays-blue);
    font-size: 11pt;
    letter-spacing: 1px;
    background: #ffffff90;
    padding: 8px 16px;
    transition-property: background;
    transition-property: color;
    transition-duration: 0.5s;
}

.promo-text a:hover {
    cursor: pointer;
    color: var(--white);
    background: #0a364180;
}

/*FEATURED*/

.featured-container {
    margin: auto;
    width: 100%;
    background: #6ca9b330;
    padding-top: 24px;
    margin: 32px 0;
}

.featured-heading {
    text-align: center;
    font-size: 16pt;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 24px;
}

.featured-slider {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 16px;
    padding-left: 16px;
}

.featured-slider img {
    height: 270px;
    background: white;
    border-radius: 12px;
    padding: 12px;
}

.featured a {
    outline: none;
}

.name {
    text-transform: uppercase;
    font-weight: 500;
}

.price {
    font-weight: 500;
}

.featured button {
    font-family: 'Roboto' , sans-serif, Verdana, Geneva, Tahoma;
    font-size: 12pt;
    font-weight: 500;
    color: var(--raisin-black);
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: var(--white);
    border: solid 1px var(--raisin-black);
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    margin-bottom: 24px;
}

::-webkit-scrollbar {
    height: 4px;
    width: 3px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}

/*CATEGORIES*/

.women-container,
.men-container {
    position: relative;
    text-align: center;
}

.women-text,
.men-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.women-container a,
.men-container a {
    text-decoration: none;
    outline: none;
}

.women-image,
.men-image {
    width: 90%;
    border-radius: 12px;
    left: 50%;
    filter: brightness(70%);
}

.women-image {
    margin-bottom: 8px;
}

h1 {
    font-family: 'Roboto' , sans-serif, Verdana, Geneva, Tahoma;
    font-size: 40pt;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 2px;
}