main {text-align: center;}

.login-container {
    display: flex;
    flex-direction: column;
    max-width: 610px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.input-label {
    width: 100%;
}

form input[type=text],
form input[type=password] {margin-bottom: 0;}

.btn-login {
    width: 100%;
    margin-bottom: 32px;
}

.btn-signup,
.btn-reset {
    width: 70%;
    background: var(--white);
    color: var(--burnt-orange);
    padding: 8px;
}

.btn-signup:hover,
.btn-reset:hover {
    background: inherit;
    font-weight: 500;
}

@media only screen and (min-width: 1024px) {
    .login-main {padding: 80px 32px 320px 32px;}
}