main {
    text-align: center;
    padding-bottom: 200px;
}

.login-container {
    display: flex;
    flex-direction: column;
    max-width: 427px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.input-label {
    width: 100%;
}

form input[type=text],
form input[type=password] {
    margin-bottom: 0;
}

.btn-area {
    width: 100%;
}

.btn-login {
    width: 100%;
    margin-bottom: 32px;
}

.btn-signup,
.btn-reset {
    width: 70%;
    background: var(--white);
    color: var(--burnt-orange);
    padding: 8px;
}

.btn-signup:hover,
.btn-reset:hover {
    background: inherit;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    main {
        padding-bottom: 250px !important;
    }
}