@media only screen and (max-width: 340px) {  
    .full-text {display: none;}

    .short-text {display: grid;}  
}

@media only screen and (min-width: 410px) {
    .order-container {padding: 8px 48px;}

    .about-img {
        height: 250px;
        object-fit: cover;
    }
}

@media only screen and (min-width: 550px) {
    .order-container {
        width: 520px;
        padding: 8px 64px;
        margin: 40px auto;
    }


}

@media only screen and (min-width: 600px) {
    .product-list-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (min-width: 769px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .index-main {
        margin-left: 0;
        margin-right: 0;
    }

    html {background: var(--white);}
  
    .image1 {display: none;}

    .menu label {display: none;}

    .image2 {grid-area: logo;}
    .hamnav {grid-area: hamnav;}
    .icons {grid-area: icons;}


    .header-wrapper {
        background: var(--rainydays-blue);
        width: 100vw;
        height: 100px;
        padding: 0px 40px 24px 40px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "logo hamnav icons";
        align-items: end;
    }

    .image2 {
        display: inline;
        outline: none;
        width: auto;
        height: 50px;
        justify-self: start;
    }

    .icons {
        margin-left: inherit;
        justify-self: end;
    }

    .hamnav {
        display: inline;
        justify-self: center;
    }

    .hamitems {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
    }

    .hamitems a {
        color: var(--white);
        text-decoration: none;
        font-size: 14pt;
        font-weight: 400;
        margin-top: inherit;
    }

    .hamitems a:hover {
        text-decoration: underline 2px solid var(--white);
    }

    .material-icons-outlined {
        font-size: 28px;
        color: var(--white);
    }
    
    .material-icons-outlined:hover{
        text-decoration: underline 2px solid var(--white);
    }

    .search-wrapper {
        padding: 8px 24px;
        margin: 8px 24px;
    }
    
    .search-wrapper input,
    ::placeholder {
        font-size: 14pt;
        text-align: center;
    }

    .search-icon {
        font-size: 30px;
        color: var(--raisin-black);
    }

    .about-img {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .motivation-container {
        margin-left: 5%;
        transform: translateX(-5%);
        font-size: 16pt;
        margin: 24px 0px;
    }

    .highlighted {
        font-size: 18pt;
        font-weight: 600;
    }

    footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    footer li {margin-bottom: 48px;}

    footer a {font-size: 16pt;}
}

@media only screen and (min-width: 1024px) {
    main {
        margin-left: 20%;
        margin-right: 20%;
        background: var(--white);
        padding: 1px 0;
    }

    .index-main {background: #6ca9b330;}

    html {background: #f9f9f9;}

    .header-wrapper {
        height: 120px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .image2 {padding-right: 16px;}
    
    .hamitems a {font-weight: 500;}

    .material-icons-outlined {font-size: 30px;}
    
    .search-wrapper {
        margin-left: 20%;
        margin-right: 20%;
    }

    .about-img,
    .motivation-container {
        margin-left: 0;
        transform: translateX(0);
        width: 100%;
    }
}