@media only screen and (min-width: 769px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .index-main {
        margin-left: 0;
        margin-right: 0;
    }

    html {
        background-color: var(--white);
    }
    
    
    h1 {font-size: 40pt;}

    h2 {font-size: 32pt}

    p {font-size: 16pt}

    .image1 {display: none;}

    .image2 {display: inline;}

    .menu label {display: none;}

    .header-wrapper {
        background-color: var(--rainydays-blue);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 32px;
    }

    .logo {order: 1;}
    .hamnav {order: 2;}
    .icons {order: 3;}

    .logo {
        width: auto;
        height: 80px;
    }

    .hamnav {
        display: inline;
        background: var(--rainydays-blue);
    }

    .hamitems {
        display: flex;
    }

    .hamitems a,
    .hamitems a:visited {
        color: var(--white);
        text-decoration: none;
        text-align: center;
        margin-top: 40px;
        padding: 0 8px;
    }

    .hamitems .active,
    .hamitems a:hover {
        text-decoration: underline 2px solid var(--white);
    }

    .icons {
        margin-left: 0;
        margin-top: 40px;
    }

    .material-icons-outlined {
        font-size: 35px;
        color: var(--white);
    }
    
    .material-icons-outlined:hover{
        text-decoration: underline 2px solid var(--white);
    }

    .search-wrapper {
        padding: 8px 24px;
        margin: 8px 24px;
    }
    
    .search-wrapper input {
        font-size: 14pt;
    }

    ::placeholder {
        font-size: 14pt;
    }

    .material-icons-outlined-search {
        font-size: 30px;
        color: var(--raisin-black);
    }

    .promo-container img {
        height: 400px;
        object-fit: cover;
        object-position: 0 30%;
    }

    .promo-heading {
        padding: 12px 32px;
        font-size: 16pt;
    }
    
    .promo-info {
        font-size: 16pt;
        padding: 12px 32px;
    }
    
    .promo-container button {
        font-size: 16pt;
        padding: 12px 32px;
    }

    .inspiration {
        font-size: 16pt;
        margin: 24px 0px;
    }

    .highlighted {
        font-size: 18pt;
        font-weight: 600;
    }

    .news-heading {
        font-size: 24pt;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .description {
        font-size: 12pt;
    }

    footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    footer li {
        margin-bottom: 48px;
    }

    footer a,
    footer a:visited {
    font-size: 16pt;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        margin-left: 20%;
        margin-right: 20%;
        background-color: var(--white);
        padding: 1px 0;
    }

    .index-main {
        background-color: #6ca9b330;
    }

    html {
        background-color: #f1f1f1;
    }

    .hamitems a,
    .hamitems a:visited {
        font-size: 18pt;
        padding: 0 24px;
    }

    .promo-container img {
        height: 600px;
        object-position: 0 25%;
    }

    .inspiration {
        background-color: initial;
    }

    .product-name {
        font-size: 18pt;
    }

    .description {
        font-size: 14pt;
    }

    .price {
        font-size: 18pt;
    }
}