main {margin: 16px 24px;}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-container img {
    width: 100%;
    background: var(--background-grey);
    padding: 24px 48px;
}

.product-details {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
}

.name {margin-bottom: 0;}

.upper {text-transform: uppercase;}

.color {
    text-transform: uppercase;
    margin-top: 2px;
}

.description-short li {
    font-family: var(--main-font);
    font-size: 12pt;
    font-weight: 300;
    text-transform: lowercase;
    color: var(--raisin-black);
    line-height: 2;
}

.price {
    font-size: 14pt;
    font-weight: 500;
}

.size-bar {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.size-bar label {
    width: 40px;
    height: 35px;
    border: solid 1px var(--raisin-black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-size: 12pt;
}

input[type=checkbox] {display: none;}

label[class=size]:hover,
input[name=xs]:checked ~ label[for=xs],
input[name=s]:checked ~ label[for=s],
input[name=m]:checked ~ label[for=m],
input[name=l]:checked ~ label[for=l],
input[name=xl]:checked ~ label[for=xl] {
    cursor: pointer;
    transform: scale(1.1);
    border: none;
    background-color: var(--burnt-orange);
    color: var(--white);
}

.cta {
    margin: 32px 0;
    background: var(--rainydays-blue);
}

.cta:hover {background: #0a364190;}

.description-container {
    background: var(--background-grey);
    padding: 8px 16px;
}

.description-heading {font-weight: 500;}