.breaditems {
    padding-left: 0;
}

.gender::first-letter,
.current::first-letter {
    text-transform: capitalize;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-container img {
    width: 100%;
    background: var(--background-grey);
    padding: 24px 48px;
}

.product-details {
    display: flex;
    flex-direction: column;
}

h1::first-letter {
    text-transform: capitalize;
}

h1 {
    font-weight: 300;
}

.product-name {
    font-weight: 500;
}

.color {
    text-transform: uppercase;
    margin-top: 0;
}

.description-short {
    padding-left: 16px;
}

.description-short li {
    font-family: var(--main-font);
    font-size: 12pt;
    font-weight: 300;
    text-transform: lowercase;
    color: var(--raisin-black);
    line-height: 2;
}

.price {
    font-size: 14pt;
    font-weight: 500;
}

.size-bar {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.size-bar label {
    width: 40px;
    height: 35px;
    border: solid 1px var(--raisin-black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-size: 12pt;
}

input[type=radio] {
    display: none;
}

label[class=size]:hover,
input[id=xs]:checked~label[for=xs],
input[id=s]:checked~label[for=s],
input[id=m]:checked~label[for=m],
input[id=l]:checked~label[for=l],
input[id=xl]:checked~label[for=xl] {
    cursor: pointer;
    transform: scale(1.1);
    border: none;
    background-color: var(--burnt-orange);
    color: var(--white);
}

.cta {
    margin: 32px 0;
    background: var(--rainydays-blue);
}

.cta:hover {
    background: var(--rainydays-blue-90);
}

.clicked {
    background: var(--rainydays-blue-90);
}

.description-container {
    background: var(--background-grey);
    padding: 8px 16px;
}

.description-heading {
    font-weight: 500;
}

@media only screen and (min-width: 600px) {
    .product-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 120px auto;
        grid-template-areas:
            'image info'
            'image interaction'
            'image price'
            'description description';
        row-gap: 32px;
        column-gap: 24px;
        margin-top: 24px;
    }

    .image-container {
        grid-area: image;
    }

    .product-info {
        grid-area: info;
    }

    .interaction {
        grid-area: interaction;
    }

    .price {
        grid-area: price;
    }

    .description-container {
        grid-area: description;
    }

    .image-container {
        background: var(--background-grey);
    }

    .image-container img {
        padding: 5%;
    }

    .product-info h1 {
        margin-top: 0;
    }

    .product-info .price {
        margin-top: 56px;
    }

    .interaction .cta {
        margin: 0;
    }

    .interaction {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
    }
}

@media only screen and (min-width: 1024px) {
    .breaditems {
        margin-left: 2%;
        padding-left: 0;
    }

    .product-container {
        grid-template-columns: auto 2fr;
        gap: 48px;
        margin: 24px 2% 0 2%;
    }

    .image-container {
        max-width: 406px;
    }

    .image-container img {
        padding: 10%;
    }

    .cta {
        width: 250px;
        align-self: flex-start;
    }
}