main {padding: 0 16px;}

.cart-wrapper {
}

.cart-container {
}

.products-container {
    display: grid;
    gap: 16px;
}

.product {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 1rem;
    position: relative;
}

.product:hover {
    border: none;
	transform: scale(1.01);
}

.product img {
    grid-row: span 2;
    position: relative;
    height: 150px;
}

.content-container {
    display: grid;
    grid-template-columns: auto auto;
}

.product-description {
    display: flex;
    flex-direction: column;
}

.product-description p {
    margin: 0;
    line-height: 2;
    font-size: 11pt;
}

.product-name,
.size {
    font-weight: 500;
}

.upper {text-transform: uppercase;}

.product-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.content-footer {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr 1fr;
}

.content-footer p {
    font-size: 11pt;
    font-weight: 500;
}

.quantity-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-icon {
    font-size: 11pt;
    background: none;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: var(--rainydays-blue);
}

.quantity {
    font-size: 11pt;
    font-weight: 500;
}

.price-container {
    display: grid;
    justify-content: flex-end;
}

.price {
    text-align: right;
}

.cart-total {
}

.cart-total p {
    display: flex;
	justify-content: space-between;
}